body {
  width: 60%;
  min-width: 600px;
  margin: 0 auto 1em;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

a:link, a:visited {
  text-decoration: none;
  font-weight: bold;
  color: #204a87;
  padding: 0 1px;
}

a:hover, a:focus, a:active {
  color: #729fcf;
}

#menu {
  margin: 0;
  padding: 0.5em 1em;
  border-bottom: 1px solid #d3d7cf;
  border-left: 1px solid #d3d7cf;
  border-right: 1px solid #d3d7cf;
  background-color: #eeeeec;
}
#menu li {
  display: inline;
  list-style-type: none;
  margin-right: 1em;
}

h1 {
  padding: 0.25em 0.5em;
  margin: 0.5em auto 0.5em;
  font-size: 3em;
  font-family: "Warnock Pro", "Goudy Old Style", "Palatino", Georgia, serif;
  font-style: italic;
  text-align: center;
  -moz-border-radius: 12px 12px 0 0;
}
h1 a:link, h1 a:visited {
  color: #3465a4;
}

#content {
  border-top: 1px solid #d3d7cf;
  border-bottom: 1px solid #d3d7cf;
  background-color: #eeeeec;
  position: relative;
}
#content h2 {
  margin: 0;
  padding: 0.5em 2em;
  font-family: "Warnock Pro", "Goudy Old Style", "Palatino", Georgia, serif;
  font-style: italic;
  font-size: 2em;
}
#content .entry {
  position: relative;
}
#content .entry > p.date {
  position: absolute;
  top: -1.75em;
  right: -2.5em;
  width: 3em;
  font-weight: bold;
  text-align: center;
  color: white;
  padding: 0.5em 1em;
  margin: 0;
  background-color: #4e9a06;
  border: 1px solid #8ae234;
  -moz-border-radius: 16px;
  -webkit-border-radius: 16px;
}
#content .entry > p.date .day {
  font-size: 1.75em;
  display: block;
}
#content .entry > p.date .month {
  font-size: 1.5em;
  font-family: "Warnock Pro", "Goudy Old Style", "Palatino", Georgia, serif;
  font-style: italic;
  font-weight: bold;
}
#content .entry > .body {
  margin: 0 4em 1em 2em;
  padding: 0.25em 1.25em;
  background-color: #fdfdfb;
  border-top: 1px solid #d3d7cf;
  font-size: 1.15em;
  line-height: 160%;
  color: #555753;
}
#content .entry > .body h3 {
  margin: 1em 0 0;
}
#content .entry > .body pre {
  background-color: #000023;
  color: #d3d7cf;
  font-family: Monaco, "DejaVu Sans Mono", monospace;
  font-size: 0.9em;
  padding: 0.25em 0.5em;
  border: 2px solid #204a87;
  width: 90%;
  margin: 1em auto;
}
#content .entry > .body code {
  background-color: #000023;
  color: #d3d7cf;
  font-family: Monaco, "DejaVu Sans Mono", monospace;
  padding: 1px 4px;
  font-size: 0.9em;
}
#content .entry > .tags {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 5em;
  right: -10em;
  width: 10em;
  text-align: left;
}
#content .entry > .tags li {
  display: block;
  margin: 0 0 8px;
}
#content #comments .comment {
  margin: 0 6em 1em 4em;
  background-color: #f8f8f6;
  border-top: 1px solid #babdb6;
  font-size: 1em;
  line-height: 160%;
  color: #555753;
  position: relative;
}
#content #comments .comment .author {
  margin: 0;
  padding: 0.10em 0.5em;
  background-color: #d3d7cf;
  color: #2e3436;
}
#content #comments .comment .date {
  position: absolute;
  top: -0.9em;
  right: 0.5em;
}
#content #comments .comment .body {
  padding: 0.25em 1.25em;
}
#content #comments h3 {
  margin: 1em 6em 0.5em 2.5em;
  color: #555753;
}
#content #comments #add_comment {
  margin: 0 6em 1em 4em;
}
#content #comments #add_comment label {
  font-weight: bold;
  color: #555753;
}
#content #comments #add_comment input[type=text], #content #comments #add_comment textarea {
  display: block;
  border: 1px solid #babdb6;
  background-color: #fdfdfb;
  color: #555753;
  padding: 2px 4px;
}
#content #comments #add_comment input[type=text], #content #comments #add_comment textarea, #content #comments #add_comment input[type=submit] {
  margin: 0.25em 0.5em 0.5em;
}
#content #comments #add_comment input[type=text] {
  width: 50%;
}
#content #comments #add_comment textarea {
  width: 75%;
}
#content #comments #add_comment #comment_rcaptcha {
  display: none;
}
#content .tags a:link, #content .tags a:visited {
  background-color: #204a87;
  color: #ccf9ff;
  border-left: 2px solid #0c3673;
  padding: 2px 6px 2px 4px;
  text-decoration: none;
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
}
#content .tags a:hover, #content .tags a:focus, #content .tags a:active {
  background-color: #3465a4;
  border-color: #205190;
}
#content #nav {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.25em 1em;
}
#content #page {
  margin: 1em 2em 1em;
  padding: 0.25em 1.25em;
  background-color: #fdfdfb;
  border-top: 1px solid #d3d7cf;
  font-size: 1.15em;
  line-height: 160%;
  color: #555753;
}
#content #entries {
  margin: 0 4em 1em;
  padding: 0.25em 1.25em 0.25em 2em;
  background-color: #fdfdfb;
  border-top: 1px solid #d3d7cf;
  font-size: 1.25em;
  line-height: 160%;
  color: #555753;
}
#content #entries .date {
  font-size: 0.9em;
}
#content #entries .tags {
  margin: 0;
  padding: 0;
  display: inline;
  font-size: 0.6em;
}
#content #entries .tags li {
  display: inline;
  margin: 0;
}

#footer {
  color: #888a85;
}
