- if params[:tag]
  %h2 Entries tagged #{params[:tag]}
- else
  %h2 All entries
%ul#entries
  - @entries.each do |entry|
    %li.description
      %span.date= entry.date.strftime('%F')
      %a{:href => "/entry/#{entry.slug}"}= entry.title
      %span.tags= entry.tags.join(', ')
